name: TEST

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - 'bhagwan/*'
      - release
    tags:
      - '*'
  schedule:
    - cron: '35 11 * * *'  
jobs:
  build:
    runs-on: ubuntu-22.04
    env:
      DATE: $(date +'%Y%m%d')
      DIR: ${{ github.workspace }}/${{ env.DATE }}/test
    steps:
    - name: Check out the code
      uses: actions/checkout@v2
    - name: Print GitHub Ref
      run: |  
            echo "DATE is ${{ env.DATE }}"
            echo "DIR is ${{ env.DIR }}"
            mkdir ${{ env.DIR }}
            echo "GitHub ref is ${{ github.ref }}"
            echo "DATE is ${{ env.DATE }}"
            echo "DIR is ${{ env.DIR }}"
            ls -lrt ${{ github.workspace }}
    
    - name: Copy artifacts to release folder
      if: startsWith(github.ref, 'refs/tags/')
      run: |
            echo "Tag name: ${{ github.ref_name }}"
      
    - name: Display system info
      run: uname -a
    - name: Display system info
      run: |
        DATE=$(date +'%Y-%m-%d')
        TIME=$(date +'%H-%M-%S')
        echo "DATE_TIME=${DATE}-${TIME}" >> $GITHUB_ENV
        
    - name : print date
      run: echo "Date is ${{ env.DATE_TIME }}"

    - name: Ensure dpkg is configured and no locks are held
      run: |
        sudo rm -f /var/lib/dpkg/lock-frontend
        sudo rm -f /var/lib/dpkg/lock
        sudo dpkg --configure -a
        sudo apt-get update
    - name: Install mailuttils
      run: sudo apt-get install -y mailutils
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: TEST_ARTIFACT
        path:
            ${{ github.workspace }}/scripts/*
    - name: Send email
      run: |
        echo "Build Completed" | mail -s "GitHub Actions Status" khodiarbhagwan@gmail.com
